<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/masthead') %>
  <div class="container">
    <p class="intro">Appliance Repair Sheet <a href="/example.pdf" target="_blank">here</a>.</p>

    <form action="/sign" method="POST">
      <div class="form-row">
        <div class="form-label">
          <label for="company">Company Name</label>
        </div>
        <div class="form-field">
          <input type="text"
                 id="company"
                 name="company"
                 class="c-input"
                 size="40"
                 maxlength="100"
                 placeholder="<%= exampleData.company %>"
                 oninvalid="this.setCustomValidity('Please enter your company name.')"
                 oninput="setCustomValidity('')"
                 required>
        </div>
      </div> 
<!--
	<div class="form-row">
        	<div class="form-label">
          	<label for="company">What’s the name of your company?</label>
        	</div>
        	<div class="form-field">
          	<input type="text"
                	id="company"
                	name="company"
                	class="c-input"
             	 	size="40"
                 	maxlength="100"
                 	placeholder="<%= exampleData.company %>"
                 	oninvalid="this.setCustomValidity('Please enter your company name.')"
                 	oninput="setCustomValidity('')"
                 	required>
        	</div>
	</div>
-->

      <div class="form-row">
        <div class="form-label">
          <label for="unit">UNIT#</label>
        </div>
        <div class="form-field">
          <input type="text"
                 id="unit"
                 name="unit"
                 class="c-input"
                 size="40"
                 maxlength="100"
                 placeholder="<%= exampleData.unit %>"
                 oninvalid="this.setCustomValidity('Please enter unit number')"
                 oninput="setCustomValidity('')"
                 required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-label">
          <label for="serial">SERIAL#</label>
        </div>
        <div class="form-field">
          <input type="text"
                 id="serial"
                 name="serial"
                 class="c-input"
                 size="40"
                 maxlength="100"
                 placeholder="<%= exampleData.serial %>"
                 oninvalid="this.setCustomValidity('Please enter unit serial number')"
                 oninput="setCustomValidity('')"
                 required>
        </div>
      </div>
	<div class="form-row">
        <div class="form-label">
          <label for="brand">BRAND</label>
        </div>
        <div class="form-field">
          <select id="brand"
                  name="brand"
                  class="c-select"
                  oninvalid="this.setCustomValidity('Please select a brand')"
                  oninput="setCustomValidity('')"
                  required>
            <option>Samsung</option>
            <option>LG</option>
            <option>Whirpool</option>
            <option>GE</option>
            <option>Maytag</option>
            <option>Frigidaire</option>
            <option>JennAir</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-label">
          <label for="name">TECHNICIAN'S FULL NAME</label>
        </div>
        <div class="form-field">
          <input type="text"
                 id="name"
                 name="name"
                 class="c-input"
                 size="40"
                 maxlength="100"
                 placeholder="<%= exampleData.name %>"
                 oninvalid="this.setCustomValidity('Please enter your name.')"
                 oninput="setCustomValidity('')"
                 required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-label">
          <label for="email">TECHNICIAN'S EMAIL ADDRESS</label>
        </div>
        <div class="form-field">
          <input type="email"
                 id="email"
                 name="email"
                 class="c-input"
                 size="40"
                 placeholder="<%= exampleData.email %>"
                 oninvalid="this.setCustomValidity('Please enter a valid email address.')"
                 oninput="setCustomValidity('')"
                 required>
        </div>
        <p class="form-comment">PactMaker sends out a copy of the agreement, so be sure to use a real email address.</p>
      </div>

      <div class="form-row">
        <div class="form-label">
          <label>Sign your name</label>
        </div>
        <div class="form-field">
          <button class="js-sig-reset sig-reset hidden"></button>
          <canvas class="js-sig-canvas sig" width="444" height="125"></canvas>
          <input type="hidden" class="js-sig" name="signature">
        </div>
      </div>

      <div class="form-submit">
        <input class="c-submit js-submit" type="submit" value="Sign Agreement" disabled>
      </div>
    </form>
  </div>

  <%- include('partials/footer') %>
</body>
</html>
